# Environments
.venv/
.venv_linux/
venv/
ENV/
env/

# Python
__pycache__/
*.py[cod]
*$py.class

# Logs
*.log

# Database
db.sqlite3
db.sqlite3-shm
db.sqlite3-wal

# Static
staticfiles/

# Flutter
mobile/.dart_tool/
mobile/.packages
mobile/.pub-cache/
mobile/.pub/
mobile/build/

# Local scripts
fix_db_ports.py
test_ssl_alerts.py
update_server_ssl_paths.py
status_update.log
get-pip.py
*.apk
